<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LevelEditorWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LevelEditorWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.cdnfonts.com/css/doom-2016-left" rel="stylesheet">
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar bg-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3"
             data-bs-theme="dark" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/tri-horn-logo.png" width="40"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <!-- send param i to PostsController -->
                            <a class="nav-link " asp-area="" asp-route-i="0" asp-controller="Posts" asp-action="Index">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="GettingStarted">Getting Started</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Vårt-Demonium
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        let controllerName = "@ViewContext.RouteData.Values["Controller"]";

        //get action name from viewcontext
        const actionName = "@ViewContext.RouteData.Values["Action"]";
        if(actionName === "GettingStarted")
            controllerName = "Getting Started";

         //convert nodelist to array (querySelectorAll returns nodelist)
        let elements = [...document.querySelectorAll(`.nav-item > .nav-link`)];

        //find the element with the same controller name as the current page
        let element = elements.find(element => element.innerHTML === controllerName);
        //add aria-true to the navbar element
        element.setAttribute("aria-current", "true");
        //add active class to the navbar element
        element.classList.add("active");
    </script>
</body>
</html>
