
@{
    ViewData["Title"] = "Getting Started";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="text-center">
        <h1 class="display-1 doom-header text-danger">GettinG  StarteD</h1>
        <hr />
    </div>
    <div class="lead fs-2 mb-1"> <!-- fs == font size-->
        Welcome to Vårt-Demonium!
        <!-- maybe a scroll spy? -->
    </div>
    <p class="fs-4 mb-5">
        The online home of PANDEMONIUM and all of it's official and community content.
    </p>

    <!--SCROLL SPY-->
    <div class="">
      

      <div class="">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
          <div id="item-1">
            <h3 class="display-2">
                <span class="doom-header">PandemoniuM</span>
            </h3>
            <div class="fs-5 mb-5">
                <p>
                    PANDEMONIUM is a first-person shooter game developed by <a href="https://www.trihorn.com/" class="text-danger text-decoration-none">Trihorn Games</a>.
                    This project was inspired by first-person shooter classics such as idSoftware's <a href="https://en.wikipedia.org/wiki/Doom_(1993_video_game)" class="text-danger text-decoration-none">DOOM</a> and 
                    <a href="https://en.wikipedia.org/wiki/Wolfenstein_3D" class="text-danger text-decoration-none">Wolfenstein 3D</a>. Our goal was to create a game that would bring back the fun and excitement of old-school FPS titles,
                    and give our contribution to the modern <b><i>"boomer shooter"</i></b> 90s revival genre.
                </p>
                <p>
                    The game is developed using the <a href="https://unity.com/" class="text-danger text-decoration-none">Unity</a> game engine.
                </p>
                <p>
                    This following section contains the game's download link, installation guide and control scheme.
                </p>
            </div>
          </div>
          <div id="item-1-1">
            <h4 class="display-6">Downloading the game</h4>
            <hr />
            <div class="fs-5 mb-5">
                <p>To download PANDEMONIUM visit 
                    <a href="#" class="text-danger text-decoration-none">this link</a>.
                </p>
                <p>
                    The original version of the game available at the link above contains the original episode titled <b>"Hellfort Halls"</b>.
                    This episode contains 9 exciting levels and an original story. To learn how to install other episodes, check out the <b><i>Modding</i></b> section.
                <p/>
                <p>
                    To install the game, simply unzip the downloaded file and run the executable file titled <b>"Pandemonium FPS.exe"</b>.
                </p>
            </div>
          </div>
          <div id="item-1-2">
            <h4 class="display-6">Controls</h4>
            <hr>
            <div class="fs-5 mb-5">
                <p>
                    The following table contains all of the game's controls.
                </p>
                <table class="table table-sm table-bordered table-hover w-75">
                    <thead class="table-light">
                        <tr>
                            <th>
                                Input
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                W - A - S - D
                            </td>
                            <td>
                                Movement
                            </td>
                        </tr>
                        <tr>
                            <td>
                                L-Click
                            </td>
                            <td>
                                Fire
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Space
                            </td>
                            <td>
                                Jump
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Shift
                            </td>
                            <td>
                                Sprint
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                Revolver
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                Shotgun
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                Plasma-shooter
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Escape,&emsp;P
                            </td>
                            <td>
                                Pause
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Q
                            </td>
                            <td>
                                Quit <b><i>(when paused)</i></b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               R
                            </td>
                            <td>
                               Restart <b><i>(when paused)</i></b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               E
                            </td>
                            <td>
                               Continue <b><i>(when paused)</i></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <div id="item-2">
            <h3 class="display-2">
                <span class="doom-header">LeveL EditoR</span>
            </h3>
                <div id="item-2-1">
                    <h4 class="display-6">Download and installation</h4>
                    <hr>
                    <p class="fs-5">
                        To download the Level Editor <a href="https://github.com/mmmdule/RetroFPS-LevelEditor/releases/download/demo/LevelEditor.Standalone.faster.zip" class="text-danger text-decoration-none">click here</a>.
                        After downloading the file, unzip it and run the executable file titled <b>"LevelEditor.exe"</b>.
                    </p>
                    <p class="fs-5">
                        The Level Editor is a standalone application, meaning that it does not require the game to be installed in order to run.
                        Once you install the Level Editor, you can start creating your own levels right away.
                        Create a level pack and add levels and story segments to it. Once you are done, you can share your level pack with the community.
                    </p>
                    <p class="fs-5">
                        When creating a level you can customize the player's loadout, level layout, enemy placement and behavior, items etc.
                    </p>
                    <p class="fs-5">
                        For detailed instructions on how to use the Level Editor, check out the guide on <a href="https://github.com/mmmdule/RetroFPS-LevelEditor#user-manual" class="text-danger text-decoration-none">this link</a>.
                    </p>
                </div>
                <div id="item-2-2">
                    <h4 class="display-6 mt-5 pt-2">Modding</h4>
                    <hr><p class="fs-5">
                        A custom level pack's data is stored in a <b><i>".lep"</i></b> project file. This file contains all of the level pack's data, including the level pack's title, subtitle, author, level names etc.
                        In addition to the <b><i>".lep"</i></b> file, a level pack also contains a <b><i>"maps"</i></b> folder. This folder contains all of the level data and story segments.
                    </p>
                    <p class="fs-5">
                        To install or test a custom level pack, inside your game folder go to <b>"Pandemonium FPS_Data/StreamingAssets/"</b>
                        and place the level pack's <b><i>".lep"</i></b> file and <b><i>"maps"</i></b> folder inside the "StreamingAssets" folder.
                    </p>
                    <p class="fs-5">
                        Make sure you only have one <b><i>".lep"</i></b> file inside the <b>"StreamingAssets"</b> folder at a time.
                        Otherwise, the game will not be able to load the level pack.
                    </p>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!--SCROLL SPY-->


</div>

<script>
    const scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: '#navbar-example3'
    })
</script>